<nav class="navbar navbar-expand-sm navbar-dark header-nav">
  <div class="container pos-rel">
    <a class="navbar-brand" (click)="redirect.GoToAAPTCommon('/overview',true,true)">
      <img src="assets/img/finizon_logo.png" class="logo" alt="logo">
    </a>
    <a class="nav-link nav-toggle mobile-toggle" (click)="handleOpenCloseNav()">
      <img src="assets/img/menu.svg" alt="menu">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="mynavbar">

      <form class="d-flex 	">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a class="nav-link" (click)="redirect.GoToAAPTCommon('/wealth-dashboard',true,true)" [hidden]="!isLoggedIn">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="redirect.GoToAAPTInsurance('',true)">Insure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="redirect.GoToAAPTCredit('',true)">Credit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/">Wealth</a>
          </li>
          <li class="btn-group hidden-xs">
            <a class="nav-link active btn btn-primary theme-button ms-2 dropdown-toggle" [hidden]="isLoggedIn"
              data-bs-toggle="dropdown" data-bs-display="dynamic" aria-expanded="false" href="javascript:void(0)">Login
              / Register</a>
            <!-- <a class="nav-link btn btn-primary theme-button ms-2 dropdown-toggle" data-bs-display="dynamic"
              (click)="Logout()" [hidden]="!isLoggedIn" aria-expanded="false" href="javascript:void(0)">Logout</a> -->
            <div [hidden]="isLoggedIn" class="login-popup dropdown-menu dropdown-menu-lg-end">
              <div class="sign-in">
                <div class="mb-3">
                  <input [disabled]="isOTPSent" type="email" name="email" [(ngModel)]="FormEmail" class="form-control"
                    id="emailmobile" placeholder="Email Id/Mobile No.">
                </div>
                <!-- <div class="mb-3">
                  <input [hidden]="!isOTPSent" type="email" name="otpLogin1" [(ngModel)]="otp1" class="form-control"
                    id="otpLogin1" placeholder="OTP">
                </div> -->
                <div class="mb-3">
                  <a [hidden]="isOTPSent" class="btn btn-primary theme-button w-100 font14" href="javascript:void(0)"
                    (click)="otpToggle($event, 'login')">Send OTP</a>
                  <!-- <a [hidden]="!isOTPSent" class="btn btn-primary theme-button w-100 font14" href="javascript:void(0)"
                    (click)="verifyOtpBtn()">Sign In</a> -->
                </div>
                <hr />
                <p class="ask-title">Not yet on Finizon? <span class="open-signup">Register Now</span></p>
              </div>
              <div class="sign-up">
                <div class="up-in-toggle">
                  <input type="radio" id="switch_left" name="switch_2" value="Customer" [(ngModel)]="usertype" />
                  <label for="switch_left">Customer</label>
                  <input type="radio" id="switch_right" name="switch_2" value="Partner" [(ngModel)]="usertype" />
                  <label for="switch_right">Partner</label>
                </div>
                <div class="mb-3">
                  <input type="text" (keypress)="validation.alphabetOnly($event)" [(ngModel)]="FormFirstName"
                    class="form-control" name="FirstName" placeholder="First Name">
                </div>
                <div class="mb-3">
                  <input type="text" (keypress)="validation.alphabetOnly($event)" [(ngModel)]="FormLastName"
                    class="form-control" name="LastName" placeholder="Last Name">
                </div>
                <div class="mb-3">
                  <input type="email" [(ngModel)]="FormEmail" class="form-control" name="email1" placeholder="Email Id">
                </div>
                <div class="mb-3">
                  <input type="text" (keypress)="validation.numberOnly($event)" [(ngModel)]="FormMobileNo"
                    class="form-control" name="mnumber1" maxlength="10" placeholder="Mobile Number">
                </div>
                <!-- <div [hidden]="!isOTPSent" class="mb-3">
                  <input type="text" class="form-control" [(ngModel)]="otp1" name="reg-OTP" id="rOTP" placeholder="OTP">
                </div> -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
                  <label class="form-check-label checklabel">I agree to the <a href="#">Terms & Conditions</a> of
                    Finizon</label>
                </div>
                <div class="mb-3">
                  <a [hidden]="isOTPSent" class="btn btn-primary theme-button w-100 font14" href="javascript:void(0)"
                    (click)="otpToggle($event)">Send OTP</a>
                  <a [hidden]="!isOTPSent" class="btn btn-primary theme-button w-100 font14" href="javascript:void(0)"
                    (click)="verifyOtpBtn()">Register Now</a>
                </div>
                <hr />
                <p class="ask-title">Already on Finizon? <span class="open-sigin">Sign In</span></p>
              </div>
            </div>
          </li>
          <li (click)="handleOpenCloseNav()">
            <a class="nav-link active pe-0 nav-toggle" href="javascript:void(0)">
              <img src="assets/img/menu.svg" alt="menu" class="menu-ic">
            </a>
          </li>
        </ul>


      </form>
    </div>

  </div>
</nav>


<div id="site-wrapper">
  <div id="site-backdrop"></div>
  <nav class="menu" id="site-wrapper-menu" role="navigation">
    <span>
      <a (click)="handleOpenCloseNav()" class="nav-link nav-toggle show-nav onsidebar">
        <i class="fas fa-times"></i>
      </a>
    </span>
    <ul class="hidden-xs hidden-sm">
      <li [hidden]="!isLoggedIn" (click)="redirect.GoToAAPTCommon('/profile-details',true,true)"><a>My Profile</a></li>
      <!-- <li><a href="#">Tools</a></li> -->
      <li><a data-bs-toggle="collapse" href="#Toolscollapse" role="button" aria-expanded="false"
          aria-controls="collapseExample" class="drop-menu collapsed">Tools</a></li>
      <div class="collapse" id="Toolscollapse">
        <div class="card card-body">
          <ul>
            <li><a (click)="redirect.GoToAAPTCommon('/tools-sip',true,true)">SIP Calculator</a></li>
            <li><a (click)="redirect.GoToAAPTCommon('/tools-emi',true,true)">EMI Calculator</a></li>
            <li><a (click)="redirect.GoToAAPTCommon('/create-goal',true,true)">Plan Goals</a></li>
          </ul>
        </div>
      </div>
      <li><a href="javascript:void(0)">About Us</a></li>
      <li><a href="javascript:void(0)">Knowledge Center</a></li>
      <li><a href="javascript:void(0)">Support</a></li>
      <li><a href="javascript:void(0)" (click)="Logout()" [hidden]="!isLoggedIn">Logout</a></li>
    </ul>
    <ul class="hidden-lg mob-nav-scroll">
      <li [hidden]="!isLoggedIn" (click)="redirect.GoToAAPTCommon('/profile-details',true,true)"><a>My Profile</a></li>
      <li><a (click)="redirect.GoToAAPTInsurance('',true)">Insure</a></li>
      <li><a (click)="redirect.GoToAAPTCredit('',true)">Credit</a></li>
      <li><a [routerLink]="['/']">Wealth</a></li>
      <!-- <li><a href="#">Tools</a></li> -->
      <li><a data-bs-toggle="collapse" href="#Toolscollapse1" role="button" aria-expanded="false"
          aria-controls="collapseExample" class="drop-menu">Tools</a></li>
      <div class="collapse" id="Toolscollapse1">
        <div class="card card-body">
          <ul>
            <li><a (click)="redirect.GoToAAPTCommon('/tools-sip',true,true)">SIP Calculator</a></li>
            <li><a (click)="redirect.GoToAAPTCommon('/tools-emi',true,true)">EMI Calculator</a></li>
            <li><a (click)="redirect.GoToAAPTCommon('/create-goal',true,true)">Plan Goals</a></li>
          </ul>
        </div>
      </div>
      <li><a href="javascript:void(0)">About Us</a></li>
      <li><a href="javascript:void(0)">Knowledge Center</a></li>
      <li><a href="javascript:void(0)">Support</a></li>
      <li><a (click)="redirect.GoToAAPTCommon('/wealth-dashboard',true,true)" [hidden]="!isLoggedIn">Dashboard</a></li>
      <li><a href="javascript:void(0)" (click)="Logout()" [hidden]="!isLoggedIn">Logout</a></li>
    </ul>
    <div class="nav-footer">
      <div class="d-flex term-link">
        <span>Share & Refer</span>
        <span>Terms & Conditions</span>
      </div>
      <ul class="nav-social">
        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
        <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
      </ul>
      <div class="nav-copyright">
        <p>Copyright 2022 Oneroof Technologies</p>
      </div>
    </div>
  </nav>

  <!-- <a href="#" class="nav-toggle"><span class="fa fa-bars"></span></a> -->

</div>

<!-- otp Modal -->
<div class="modal fade" id="headerotp-screen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          <h3 class="otp-title">Enter OTP</h3>
          <p class="otp-text">OTP sent on <b>{{FormEmail}} </b>
            <!-- <span class="link-text" (click)="EditNumber()">Edit Email?</span> -->
          </p>
          <div class="col-2">
            <input type="text" class="form-control otp-field" maxlength="1" id="headotp1" [(ngModel)]="headotp1"
              (keyup)="keytab(2,$event)" (keypress)="validation.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="text" class="form-control otp-field" maxlength="1" id="headotp2" [(ngModel)]="headotp2"
              (keyup)="keytab(3,$event)" (keypress)="validation.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="text" class="form-control otp-field" maxlength="1" id="headotp3" [(ngModel)]="headotp3"
              (keyup)="keytab(4,$event)" (keypress)="validation.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="text" class="form-control otp-field" maxlength="1" id="headotp4" [(ngModel)]="headotp4"
              (keyup)="keytab(5,$event)" (keypress)="validation.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="text" class="form-control otp-field" maxlength="1" id="headotp5" [(ngModel)]="headotp5"
              (keyup)="keytab(6,$event)" (keypress)="validation.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="text" class="form-control otp-field" maxlength="1" id="headotp6" [(ngModel)]="headotp6"
              (keypress)="validation.numberOnly($event)" (keyup)="verifyOtpBtn()" />
          </div>
          <div class="col-12" *ngIf="resendbuttonText != 'Resend OTP'">
            <p class="otp-bottomtext">OTP expires in {{resendbuttonText}} s</p>
          </div>
          <div class="col-12" *ngIf="resendbuttonText == 'Resend OTP'">
            <p class="otp-bottomtext">Didn't recieve OTP? <span class="link-text" (click)="ResendOTP()">Resend
                OTP</span></p>
          </div>
        </div>
        <div class="row pr-btn">
          <!-- <div class="col-12">
              <button type="button" (click)="verifyOtp()" class="btn btn-primary theme-button">Submit</button>
            </div>    -->
          <div class="col-12">
            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="otp-cancel" (click)="cancleModal()">
              Cancel</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
