<section class="my-5">
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-12">
                <h4 class="breadcrumb-title hidden-xs"><span class="me-3 cursor-pointer"
                        [routerLink]="['/mutual-fund-cart']"><i class="fa fa-arrow-left i-icon"></i></span>Payment
                    method
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/MF_payment_method.svg" alt="transaction-success" class="transaction-success-img" />
            </div>
            <div class="col-lg-6 position-relative">
                <div class="right-sec mt-5">
                    <h4 class="title">Select your payment method</h4>
                    <div class="row g-div m-0 mt-5">
                        <div class="col-6 m-div" [ngClass]="PaymentType == 'RTGS/NEFT' ? 'active' : ''"
                            (click)="PaymentType = 'RTGS/NEFT'">
                            <span>RTGS/NEFT</span>
                        </div>
                        <div class="col-6 f-div" [ngClass]="PaymentType == 'Net Banking' ? 'active' : ''"
                            (click)="PaymentType = 'Net Banking'">
                            <span>Net Banking</span>
                        </div>
                    </div>
                </div>
                <div class="trans-footer w-100">
                    <div class=" d-flex">
                        <a class="btn-primary theme-button">Proceed to Payment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>