
  <div class="container mgb-10per">
    <div class="row mt-4">
      <div class="col-lg-12">
        <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/']"><i
              class="fa fa-arrow-left i-icon"></i></span>Risk Profiling
        </h4>
      </div>
    </div>
    <div class="row  risk1 mt-5" *ngIf="RiskProfiling">
      <div class="col-lg-6 hidden-xs">
        <img src="assets/img/risk-profiling1.svg" alt="risk-profiling" class="w-75 riskprofile-img" />
      </div>
      <div class="col-lg-6">
        
      </div>
    </div>
    <div class="row align-items-center risk2" *ngIf="!RiskProfiling">
      <div class="col-lg-12">
        <div class="eligibility-progress">
          <div class="progress-fill" [style.width.%]="StepsWidth"></div>
        </div>
  
        <p class="breadcrumb-sub">It takes hardly 1 minute to complete</p>
      </div>
      <div class="col-lg-6 hidden-xs">
        <img src="assets/img/risk-profiling1.svg" alt="risk-profiling" class="w-75 riskprofile-img" />
      </div>
      <div class="col-lg-6 pos-rel mt-m60">
        <div class="overlay-div"></div>
  
        <div class="process-div">
          <div class="step-one stepsdiv space-qt" [ngClass]="que.Idstep==1?'active':''" id="step{{que.Idstep}}"
            *ngFor="let que of GetQuestionsData">
            <h5 class="step-heading">{{que.question}}</h5>
            <div class="select-box1">
              <span *ngFor="let ans of que.possibleAnswers" [ngClass]="{'active': que.GivenAnswer == ans.id}"
                (click)="que.GivenAnswer = ans.id; Steps=que.Idstep; NextStep()">{{ans.answer}}</span>
            </div>
            <span class="text-danger error" id="error{{que.Idstep}}">This is mandatory</span>
          </div>
  
        </div>
      </div>
    </div>
  </div>



<!-- Risk Modal -->

<div class="modal fade" id="riskModal2" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content modal-sm">
      <div class="modal-body">
        <div class="row mb-5">
          <h5>It is recommended to profile yourself to help you select more suitable products.</h5>
        </div>
        <div class="btn-div d-flex justify-content-between">
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary feature-cancel me-2"
            [routerLink]="['/wealth-product-listing']">Skip
            Profile</button>
          <button type="button" class="btn btn-primary feature-apply" (click)="hidemodal()">Continue Profile</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Risk Modal -->
<div class="modal fade" id="riskModal1" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content modal-sm">
      <div class="modal-body">
        <div class="row mb-5">
          <h5>To know your Investor Type answer a few questions</h5>
        </div>
        <div class="btn-div d-flex justify-content-between mt-5">
          <button type="button" class="btn btn-primary feature-cancel me-2" data-toggle="modal"
            data-target="#riskModal2" (click)="showSecondModal()">Skip</button>
          <button type="button" class="btn btn-primary feature-apply" (click)="hidemodal()">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Risk Modal -->
<div class="modal fade" id="riskModal3" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center">
    <div class="modal-content modal-sm">
      <div class="modal-body">
        <div class="row mb-5">
          <h5>Do you want to update your risk profile?</h5>
        </div>
        <div class="btn-div d-flex justify-content-between mt-5">
          <button type="button" class="btn btn-primary feature-cancel me-2" data-toggle="modal"
            data-target="#riskModal2" (click)="Gotolisting()">Skip</button>
          <button type="button" class="btn btn-primary feature-apply" (click)="updateriskandhide()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
