<section class="my-5">
    <div class="container">
    
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/sell-order.svg" alt="transaction-success" class="transaction-success-img w-75" />
        </div>
        <div class="col-lg-6 position-relative">
          <div class="right-sec mt-5">
            <h4 class="title">Sell Order Placed</h4>
            <p>Your sell order was successful placed. You can also execute <br>transactions directly from My Investments.</p>
           
            <div class="container1">
              <div class="row">
                  <div class="pt-3 pb-2">Please expect of credit of Rs 5,000 basis yesterday's NAV to your linked bank account ending in 4321 in T+3 days. ( T+1 for debt and liquid funds). Final amount is subject to change basis today's NAV</div>
  
              </div>
  
  
            </div>
         
          </div>
          <div class="trans-footer w-100">
            <div class="d-flex">
              <a class="btn-primary transparent-button cursor-pointer" (click)="GoToCommon('/account-mutualfunds-portfolio')">My Investments</a>
              <a class="btn-primary theme-button cursor-pointer" (click)="GoToCommon('/wealth-dashboard')">Back to Dashboard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
