<div class="mobile-sticky">
	<div class="row">
		<div class="col-6">
			<a class="btn btn-primary theme-button w-100" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#mob_signup">Register</a>
		</div>
		<div class="col-6">
			<a class="btn btn-primary theme-button w-100" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#mob_signin">Sign In</a>
		</div>
	</div>
</div>

<!-- Modal Signin-->
<div class="modal fade" id="mob_signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">			
			<div class="modal-body">
				<div class="modal-topborder"></div>
				<h3 class="mb-3">Sign In</h3>
				<div class="mb-3">      
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Id/Mobile No.">
				</div>
				<div class="mb-3">        
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
				</div>
				<div class="mb-3 text-end">
					<a class="btn btn-primary theme-button font14" href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="modal fade" id="mob_signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">			
			<div class="modal-body">
				<div class="modal-topborder"></div>
				<h3 class="mb-3">Register</h3>
				<div class="up-in-toggle">
					<input type="radio" id="switch_left1" name="switch_2" value="yes" checked/>
					<label for="switch_left1">Customer</label>
					<input type="radio" id="switch_right1" name="switch_2" value="no" />
					<label for="switch_right1">Partner</label>
				</div>
				<div class="mb-3">      
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
				</div>
				<div class="mb-3">      
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Id/Mobile No.">
				</div>
				<div class="mb-3">        
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Password">
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
					<label class="form-check-label checklabel">I agree to the <a href="javascript:void(0)">Terms & Conditions</a> of Finizon</label>
				</div>
				<div class="mb-3">
					<a class="btn btn-primary theme-button w-100 font14" href="javascript:void(0)">Register Now</a>
				</div>
			</div>

		</div>
	</div>
</div>

<section class="footer" id="footer">
	<div class="container">
		<div class="row hidden-xs">
			<div class="col col-full">
				<img src="assets/img/finizon_logo_footer.png" class="footer-logo" alt="footer-logo">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
				<ul class="follow-list">
					<li>
						<a href="javascript:void(0)"><img src="assets/img/facebook.svg"></a>
					</li>
					<li>
						<a href="javascript:void(0)"><img src="assets/img/instagram.svg"></a>
					</li>
					<li>
						<a href="javascript:void(0)"><img src="assets/img/linkedin.svg"></a>
					</li>
					<li>
						<a href="javascript:void(0)"><img src="assets/img/twitter.svg"></a>
					</li>
				</ul>
			</div>
			<div class="col col-half">
				<h5 class="footer-head">Insurance</h5>
				<ul class="footer-link">
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>		
				</ul>
			</div>
			<div class="col col-half">
				<h5 class="footer-head">Credit Line</h5>
				<ul class="footer-link">
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>
				</ul>
			</div>
			<div class="col col-half">
				<h5 class="footer-head">Wealth Management</h5>
				<ul class="footer-link">
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>	
				</ul>
			</div>
			<div class="col col-half">
				<h5 class="footer-head">About Us</h5>
				<ul class="footer-link">
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
					<li><a href="javascript:void(0)">Lorem Ipsum dolor</a></li>			
				</ul>
			</div>
		</div>
		<div class="row hidden-sm hidden-lg footer-headlink">
			<h4><a href="javascript:void(0)">Insurance Product</a></h4>
			<h4><a href="javascript:void(0)">Loan & Cards Products</a></h4>
			<h4><a href="javascript:void(0)">Wealth Products</a></h4>
			<h4><a href="javascript:void(0)">About Us</a></h4>
			<h4><a href="javascript:void(0)">Contact Us</a></h4>
		</div>
		<div class="row">
			<p class="text-center notetext">**Finizon is now registered as a Direct Broker |Registration No. 000, Registration Code No. IRDA/ DB 000/ 00, Valid till 09/06/2024, License category- Direct Broker (Life & General)| Visitors are hereby informed that their information submitted on the website may be shared with insurers.Product information is authentic and solely based on the information received from the insurers.</p>
			<div class="d-flex justify-content-center copyright">
				<span><a href="javascript:void(0)">Terms & Conditions</a> | </span>
				<span><a href="javascript:void(0)">Privacy Policy</a> | </span>
				<span><a href="javascript:void(0)">Copyright 2021 OneRoof Technologies.</a></span>
			</div>
		</div>
	</div>	
</section>


