<section class="my-5">
  <div class="container">
    <div class="row mt-4">
        <div class="col-lg-12">
          <h4 class="breadcrumb-title hidden-xs"><span class="me-3 cursor-pointer" [routerLink]="['/mutual-fund-cart']"><i
                class="fa fa-arrow-left i-icon"></i></span>Payment Successful
          </h4>
          
        </div>
      </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/img/transaction-success.svg" alt="transaction-success" class="transaction-success-img" />
      </div>
      <div class="col-lg-6 position-relative">
        <div class="right-sec mt-5">
          <h4 class="title">Transaction Complete</h4>
          <div class="orange-dash"></div>
          <p>Your order has been submitted</p>
          <!-- <app-health-insurance></app-health-insurance> -->

          <!-- health-insurance -->
          <div class="container1">
            <div class="row">
                <div class="pt-3 pb-2"><span class="note">Note:</span> Transactions made before 1pm get same day NAV else
                the next day NAV .</div>

              <h5 class="cutoff">View table for Cut-off Time</h5>


            </div>


          </div>
       
        </div>
        <div class="trans-footer w-100">
          <div class=" d-flex">
            <a class="btn-primary transparent-button" [routerLink]="['/mutual-investment']">My Investments</a>
            <a class="btn-primary theme-button">Back to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
