<section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 mob-center">
          <img src="assets/img/pms-successful.svg" alt="transaction-success" class="transaction-success-img w-75" />
        </div>
        <div class="col-lg-6 position-relative">
          <div class="right-sec">
            <h4 class="title">Request Successfully Submitted</h4>
            <div class="orange-dash"></div>
            <p class="mob-center">We have received your request and one of our experts will get in touch with you soon.
            </p>
          </div>
          <div class="trans-footer w-100">
            <div class=" d-flex">
              <a class="btn-primary transparent-button" [routerLink]="['/portfolio-management-product-listing']">Explore
                Investments</a>
              <a class="btn-primary theme-button me-5" [routerLink]="['/dashboard']">Back to Dashboard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
