<div class="container mgb-10per">
    <div class="row mt-4">
      <div class="col-lg-12">
        <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/account-portfolio-product-details']"><i
              class="fa fa-arrow-left i-icon"></i></span>Switch/Redeem Funds
        </h4>
      </div>
    </div>
    <div class="row align-items-center risk1 mt-5">
        <div class="col-lg-6 hidden-xs">
          <img src="assets/img/tree.svg" alt="risk-profiling" class="w-75" />
        </div>
        <div class="col-lg-6">
            <div class="row centre">
                <div class="col-lg-6 funds" [routerLink]="['/redeem-funds']" >
                    <img src="assets/img/save-money.svg" alt="" class="mb-2" />
                    <h5>Redeem Funds</h5>
                </div>
                <div class="col-lg-6 funds" [routerLink]="['/swp']">
                    <img src="assets/img/cash.svg" alt="" class="mb-2"/>
                    <h5>Systematic Withdraw Plan (SWP)</h5>
                </div>
                <div class="col-lg-6 funds" [routerLink]="['/switch-fund']">
                    <img src="assets/img/reload-money.svg" alt="" class="mb-2" />
                    <h5>Switch Funds</h5>
                </div>
                <div class="col-lg-6 funds" [routerLink]="['/stp']">
                    <img src="assets/img/upload-money.svg" alt="" class="mb-2"/>
                   <h5>Systematic Transfer Plan (STP)</h5> 
                </div>
            </div>
        </div>
    </div>    
</div>    
