<div class="container">
    <div class="row mt-4">
      <div class="col-lg-12">
        <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/']"><i
              class="fa fa-arrow-left i-icon"></i></span> Digital Gold</h4>
      </div>
    </div>
    <div class="row hidden-lg">
      <div class="col-12">
        <div class="orange-box">
          <div class="d-flex justify-content-between border-btm align-items-start">
            <div class="d-flex align-items-start">
              <img src="assets/img/orange-gold.svg" alt="icici" class="me-3" />
              <div>
                <h5>MMTC-PAMP</h5>
                <p>24k 99.99 % Purity</p>
              </div>
            </div>
            <div class="d-flex align-items-start">
              <img src="assets/img/refresh_button.svg" alt="icici" class="me-2"/>
              <h6 class="refresh-text">Refresh</h6>
            </div>
          </div>
          <div class="d-flex justify-content-between pt-2 px-2">
            <h4 class="text-theme mb-0">₹ 2,250/g</h4>
            <p class="mb-0">Balance : 0 mg</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-8">
        <div class="graph-body mt-4">
          <div class="left-body">
            <h5>Gold Price Trends</h5>
            <!-- <select class="form-select prod-drop" aria-label="Default select example">
              <option selected>1M <span class="text-danger"> (-2.11%)</span></option>
              <option value="1">1M <span class="text-danger"> (-2.11%)</span></option>
              <option value="2">1M <span class="text-danger"> (-2.11%)</span></option>
              <option value="3">1M <span class="text-danger"> (-2.11%)</span></option>
            </select> -->
            <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              1M <span class="text-danger"> (-2.11%)</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">1M <span class="text-danger"> (-2.11%)</span></a></li>
              <li><a class="dropdown-item">1M <span class="text-danger"> (-2.11%)</span></a></li>
              <li><a class="dropdown-item">1M <span class="text-danger"> (-2.11%)</span></a></li>
            </ul>
          </div>
          </div>
          <img src="assets/img/prod-details-graph.svg" alt="icici" class="graph-img" />
          <div class="graph-footer">
            <ul>
              <li>6M</li>
              <li class="active">1Y</li>
              <li>3Y</li>
              <li>5Y</li>
              <li>All</li>
            </ul>
          </div>
        </div>
  
        <div class="how-it-works">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <h5 class="text-grey">How it works</h5>
            </div>
            <div class="col-lg-12">
              <div class="d-flex work">
                <img src="assets/img/how-it-works1.svg" alt="icici" />
                <div>
                  <h6>Buy and Accumulate</h6>
                  <p>Buy Gold to store it in your online account</p>
                </div>
              </div>
              <div class="d-flex work">
                <img src="assets/img/digital-gold.png" alt="icici" />
                <div>
                  <h6>Gold Accumulation Plan</h6>
                  <p>Buy 24K 999.9 Gold at live Prices to start accumulating gold with MMTC-PAMP</p>
                </div>
              </div>
              <div class="d-flex work">
                <img src="assets/img/how-it-works2.svg" alt="icici" />
                <div>
                  <h6>Safety and Trust</h6>
                  <p>Your Gold is vaulted in India's most secure and 100% insured facility.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col-lg-12">
              <h5 class="text-grey">How Pure is your 24K?</h5>
            </div>
            <div class="col-lg-12">
              <div class="d-flex work">
                <img src="assets/img/how-it-works3.png" alt="icici" />
                <div>
                  <h6>Regular Product</h6>
                  <p>995 Purity level</p>
                </div>
              </div>
              <div class="d-flex work">
                <img src="assets/img/how-it-works4.png" alt="icici" />
                <div>
                  <h6>MMTC-PAMP (Our Product)</h6>
                  <p>999.9 Purity Level (International standard)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
      <div class="col-lg-4 d-none d-lg-block d-md-block d-sm-block" id="sidebar-main">
        <div class="left-sidebar" id="sidebar">
          <div class="right-box">
            <ul class="nav nav-tabs" id="year-tabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#monthly" type="button" role="tab"
                  aria-controls="monthly" aria-selected="true">Buy</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#otl" type="button" role="tab"
                  aria-controls="otl" aria-selected="false">Sell</button>
              </li>
            </ul>
  
            <div class="tab-content">
              <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                <div class="row mt-3">
                  <div class="col-lg-12">
                    <div class="orange-box">
                      <div class="d-flex justify-content-between border-btm align-items-start">
                        <div class="d-flex align-items-start">
                          <img src="assets/img/orange-gold.svg" alt="icici" class="me-3" />
                          <div>
                            <h5>MMTC-PAMP</h5>
                            <p>24k 99.99 % Purity</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-start">
                          <img src="assets/img/refresh_button.svg" alt="icici" class="me-2"/>
                          <h6 class="refresh-text">Refresh</h6>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center pt-2 px-2">
                        <h4 class="text-theme mb-0">₹ 2,250/g</h4>
                        <p class="mb-0">Balance : 0 mg</p>
                      </div>
                    </div>
                    <div class="amount-weight mb-4">
                      <div class="row position-relative">
                        <div class="col-6 pe-2" *ngIf="EnterAmount">
                          <input type="text" class="form-control" id="amout1" aria-describedby="emailHelp" placeholder="Enter Amount">
                        </div>
                        <!-- <div class="col-6 ps-2" *ngIf="EnterWeight1">
                          <input type="text" class="form-control" id="weight1" aria-describedby="emailHelp" placeholder="Enter Weight">
                        </div> -->
                       
                        <div class="col-6 ps-2" *ngIf="EnterWeight">
                          <input type="text" class="form-control" id="weight1" aria-describedby="emailHelp" placeholder="Enter Weight">
                        </div>
                        <!-- <div class="col-6 pe-2" *ngIf="EnterAmount1">
                          <input type="text" class="form-control" id="amout1" aria-describedby="emailHelp" placeholder="Enter Amount">
                        </div> -->
                     
                        <img src="assets/img/amount-weight-change.svg" alt="icici" class="amount-weight-change" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="button" class="btn btn-primary sip-btn w-100 ms-0 mb-3"  (click)="DoLogin()"> Proceed </button>
                    <!-- [routerLink]="['/digital-gold-purchased-successful']" -->
                    <p class="color-black">24k @ ₹5449.39/g ≡ 22k @ ₹4996/g Gold Accumulation Plan by MMTC PAMP. <a href="#"> T&C Apply</a></p>
                  </div>
                </div>
              </div>
  
              <div class="tab-pane fade show" id="otl" role="tabpanel" aria-labelledby="otl-tab">
                <div class="row mt-3">
                  <div class="col-lg-12">
                    <div class="orange-box">
                      <div class="d-flex justify-content-between border-btm align-items-start">
                        <div class="d-flex align-items-start">
                          <img src="assets/img/orange-gold.svg" alt="icici" class="me-3" />
                          <div>
                            <h5>MMTC-PAMP</h5>
                            <p>24k 99.99 % Purity</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-start">
                          <img src="assets/img/refresh_button.svg" alt="icici" class="me-2"/>
                          <h6 class="refresh-text">Refresh</h6>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between pt-2 px-2">
                        <h4 class="text-theme mb-0">₹ 2,250/g</h4>
                        <p class="mb-0">Balance : 0 mg</p>
                      </div>
                    </div>
                    <div class="amount-weight mb-4">
                      <div class="row position-relative">
                        <div class="col-6 pe-2">
                          <input type="text" class="form-control" id="amout1" aria-describedby="emailHelp" placeholder="Enter Amount">
                        </div>
                        <div class="col-6 ps-2">
                          <input type="text" class="form-control" id="weight1" aria-describedby="emailHelp" placeholder="Enter Weight">
                        </div>
                        <img src="assets/img/amount-weight-change.svg" alt="icici" class="amount-weight-change"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="button" class="btn btn-primary sip-btn w-100 ms-0 mb-3" [routerLink]="['/digital-gold-purchased-successful']"> Proceed </button>
                    <p class="color-black">24k @ ₹5449.39/g ≡ 22k @ ₹4996/g Gold Accumulation Plan by MMTC PAMP. <a href="#"> T&C Apply</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-block d-lg-none d-md-none d-sm-none">
      <div class="applybtn-mob">
        <div class="col-12">
          <button type="button" class="btn btn-primary invest-btn" >
            Buy/Sell Gold
          </button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- invest Modal -->
  <div class="modal fade" id="invest-screen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-body">
          <div class="row space">
  
            <div class="right-box">
              <ul class="nav nav-tabs" id="invest-tabs" role="tablist">
                <li class="nav-item" role="presentation"> 
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#monthly-mob" type="button"
                    role="tab" aria-controls="monthly-mob" aria-selected="true">Buy</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#otl-mob" type="button" role="tab"
                    aria-controls="otl-mob" aria-selected="false">Sell</button>
                </li>
              </ul>
  
              <div class="tab-content">
                <div class="tab-pane fade show active" id="monthly-mob" role="tabpanel" aria-labelledby="monthly-tab">
                <div class="row mt-3">
                  <div class="col-lg-12">
                    <div class="orange-box">
                      <div class="d-flex justify-content-between border-btm align-items-start">
                        <div class="d-flex align-items-start">
                          <img src="assets/img/orange-gold.svg" alt="icici" class="me-3" />
                          <div>
                            <h5>MMTC-PAMP</h5>
                            <p>24k 99.99 % Purity</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-start">
                          <img src="assets/img/refresh_button.svg" alt="icici" class="me-2"/>
                          <h6 class="refresh-text">Refresh</h6>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between pt-2 px-2">
                        <h4 class="text-theme mb-0">₹ 2,250/g</h4>
                        <p class="mb-0">Balance : 0 mg</p>
                      </div>
                    </div>
                    <div class="amount-weight mb-4">
                      <div class="row position-relative">
                        <div class="col-6 pe-2">
                          <input type="text" class="form-control" id="amout1" aria-describedby="emailHelp" placeholder="Enter Amount">
                        </div>
                        <div class="col-6 ps-2">
                          <input type="text" class="form-control" id="weight1" aria-describedby="emailHelp" placeholder="Enter Weight">
                        </div>
                        <img src="assets/img/amount-weight-change.svg" alt="icici" class="amount-weight-change"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="button" class="btn btn-primary sip-btn w-100 ms-0 mb-3" data-bs-toggle="modal" data-bs-target="#mob_signin"> Proceed </button>
                    <p class="color-black">24k @ ₹5449.39/g ≡ 22k @ ₹4996/g Gold Accumulation Plan by MMTC PAMP. <a href="#"> T&C Apply</a></p>
                  </div>
                </div>
                </div>
                <div class="tab-pane fade show" id="otl-mob" role="tabpanel" aria-labelledby="otl-tab">
                <div class="row mt-3">
                  <div class="col-lg-12">
                    <div class="orange-box">
                      <div class="d-flex justify-content-between border-btm align-items-start">
                        <div class="d-flex align-items-start">
                          <img src="assets/img/orange-gold.svg" alt="icici" class="me-3" />
                          <div>
                            <h5>MMTC-PAMP</h5>
                            <p>24k 99.99 % Purity</p>
                          </div>
                        </div>
                        <div class="d-flex align-items-start">
                          <img src="assets/img/refresh_button.svg" alt="icici" class="me-2"/>
                          <h6 class="refresh-text">Refresh</h6>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between pt-2 px-2">
                        <h4 class="text-theme mb-0">₹ 2,250/g</h4>
                        <p class="mb-0">Balance : 0 mg</p>
                      </div>
                    </div>
                    <div class="amount-weight mb-4">
                      <div class="row position-relative">
                        <div class="col-6 pe-2">
                          <input type="text" class="form-control" id="amout1" aria-describedby="emailHelp" placeholder="Enter Amount">
                        </div>
                        <div class="col-6 ps-2">
                          <input type="text" class="form-control" id="weight1" aria-describedby="emailHelp" placeholder="Enter Weight">
                        </div>
                        <img src="assets/img/amount-weight-change.svg" alt="icici" class="amount-weight-change"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <button type="button" class="btn btn-primary sip-btn w-100 ms-0 mb-3" data-bs-toggle="modal" data-bs-target="#mob_signin"> Proceed </button>
                    <p class="color-black">24k @ ₹5449.39/g ≡ 22k @ ₹4996/g Gold Accumulation Plan by MMTC PAMP. <a href="#"> T&C Apply</a></p>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  
  <!-- Modal Signin-->
  <div class="modal fade" id="mob_signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close mob-tab-dash" data-bs-dismiss="modal" aria-label="Close"></button>
          <h5>Sign In</h5>               
          <div class="row mt-3">
            <div class="mb-3">      
              <input type="text" class="form-control" id="email" placeholder="Email Id/Mobile No">
            </div>
            <div class="arr">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#otp-screen">
                <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  
  <!-- otp Modal -->
  <div class="modal fade" id="otp-screen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-body">
          <div class="row">
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            <h3 class="otp-title">Enter OTP</h3>
            <p class="otp-text mt-4">OTP sent on <b>+91 1234567890. </b> <span class="link-text">Edit Number</span></p>
            <div class="col-2 px-2">
              <input type="number" class="form-control otp-field" maxlength="1" id="otp1" [(ngModel)]="otp1"  
               (keyup)="keytab(2,$event)" />
            </div>
            <div class="col-2 px-2">
              <input type="number" class="form-control otp-field" maxlength="1" id="otp2" [(ngModel)]="otp2"  
              (keyup)="keytab(3,$event)"/>
            </div>
            <div class="col-2 px-2">
              <input type="number" class="form-control otp-field" maxlength="1" id="otp3" [(ngModel)]="otp3"  
              (keyup)="keytab(4,$event)"/>
            </div>
            <div class="col-2 px-2">
              <input type="number" class="form-control otp-field" maxlength="1" id="otp4" [(ngModel)]="otp4"  
              (keyup)="keytab(5,$event)"/>
            </div>
            <div class="col-2 px-2">
              <input type="number" class="form-control otp-field" maxlength="1" id="otp5" [(ngModel)]="otp5"  
              (keyup)="keytab(6,$event)"/>
            </div>
            <div class="col-2 px-2">
              <input type="number" class="form-control otp-field" maxlength="1" id="otp6"  [(ngModel)]="otp6"  
              (keyup)="Navigate()" />
            </div>
            <!-- <div class="col-5">
              <p class="otp-bottomtext">OTP expires in <br class="hidden-lg" />2:39s</p>
            </div> -->
            <div class="col-12">
              <p class="otp-bottomtext">Didn't recieve OTP?  <span class="link-text">Resend
                  OTP</span></p>
            </div>
          </div>
          <!-- <div class="row pr-btn">
            <div class="col-12">
              <button type="button" [routerLink]="['/curated-offers']" class="btn btn-primary theme-button "
                data-bs-dismiss="modal" data-bs-toggle="modal">Submit</button>
            </div>
          </div> -->
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <div class="">
            <a class="cancel-btn2" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Login Modal -->

  <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content ">
     
        <div class="modal-body">
            
            <div class="text-center">
                <img src="assets/img/mob-man.svg" class="mob-img mt-2">
            </div>
            <div class="grey-box">
                <p>Note : To make any investments or purchase a gold you have to sign in or register on finizon</p>
            </div>
  
      
          <div class="text-center">
            
            <button type="button" class="btn btn-primary proceed-btn" (click)="GoToSignUp()"> 
              Login/Register </button>
  
          </div>
          
        </div>
  
      </div>
    </div>
  </div>

  <!-- Update KYC Modal -->

  <div class="modal fade" id="update-kyc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content ">
     
        <div class="modal-body">
            
            <div class="text-center">
                <img src="assets/img/form-man.svg" class="mob-img mt-2">
            </div>
            <div class="grey-box">
                <p>Note : To make any investments or purchase a gold you have to update your KYC</p>
            </div>
  
      
          <div class="text-center">
            
            <button type="button" class="btn btn-primary proceed-btn"> 
              Update KYC </button>
  
          </div>
          
        </div>
  
      </div>
    </div>
  </div>  
