<section class="my-5">
    <div class="container">
      <!-- <div class="row mt-4">
          <div class="col-lg-12">
            <h4 class="breadcrumb-title hidden-xs"><span class="me-3 cursor-pointer" [routerLink]="['/FD-open']"><i
                  class="fa fa-arrow-left i-icon"></i></span>Fixed Deposits Successfull
            </h4>
            
          </div>
        </div> -->
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/Bond/Group 18560.svg" alt="transaction-success" class="transaction-success-img" />
        </div>
        <div class="col-lg-6 position-relative">
          <div class="right-sec mt-5">
            <h4 class="title">Request Successfully Submitted</h4>
            <div class="orange-dash"></div>
            <p>We have received your request and one of our experts will get in touch with you soon.</p>
  
            <!-- Bond -->
          </div>
          <div class="trans-footer w-100">
            <div class=" d-flex">
              <a class="btn-primary transparent-button" [routerLink]="['/mutual-investment']">My Investments</a>
              <a class="btn-primary theme-button">Back to Dashboard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
