<div class="container mb10per">

  <div class="row">
    <div class="col-lg-6" id="sidebar-main">
      <div class="left-sidebar" id="sidebar">
        <img src="assets/img/eligibility-check.svg" alt="eligiblity" class="w-85" />
      </div>
    </div>
    <div class="col-lg-6 mt-5">
      <div class="main-content">
      
        <div class="row">
          <div class="col-lg-6">
            <div class="form-floating mb-3 input-box ">
              <input type="text" id="first_name" placeholder="Your Name" (keypress)="validate.alphabetOnly($event)"
                class="form-control" [(ngModel)]="firstname">
              <label for="full_name">First Name</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating mb-3 input-box ">
              <input type="text" id="last_name" placeholder="Your Name" (keypress)="validate.alphabetOnly($event)"
                class="form-control" [(ngModel)]="lastname">
              <label for="full_name">Last Name</label>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-2 pe-0">
            <select class="form-select country-drop form-select-lg mb-3" aria-label="form-select-lg example"
              [(ngModel)]="phonecode">
              <option value="91">+91</option>
              <option value="209">+209</option>
              <option value="21">+21</option>
            </select>
          </div>
          <div class="col-10 ps-0">
            <div class="form-floating mb-3 input-box mobile-input">
              <input type="text" id="mobile" placeholder="Mobile Number" class="form-control " 
                (keypress)="validate.numberOnly($event)" maxlength="10" [(ngModel)]="mobilenumber">
              <label for="mobile">Mobile Number</label>
            </div>
          </div>
        </div>
        <div class="form-floating mb-3 input-box ">
          <input type="email" id="email_id" placeholder="Email id" class="form-control" [(ngModel)]="emailid">
          <label for="email_id">Email Id</label>
        </div>
        <div class="row g-div m-0 mb-3">
          <div class="col-4 m-div" [ngClass]="{'activetxt': gendervalue === '1'}" (click)="gendervalue = '1';">
            <span>Male</span>
          </div>
          <div class="col-4 f-div" [ngClass]="{'activetxt': gendervalue === '2'}" (click)="gendervalue = '2';">
            <span>Female</span>
          </div>
          <div class="col-4 o-div" [ngClass]="{'activetxt': gendervalue === '3'}" (click)="gendervalue = '3';">
            <span>Other</span>
          </div>
        </div>
        <div class="form-floating mb-3 input-box ">
          <input type="date" id="custdob" placeholder="Date Of Birth" class="form-control" [(ngModel)]="custdob"
            (click)="DOB()">
          <label for="dob">Date of Birth</label>
        </div>

        <div  class="form-floating mb-3 input-box ">
          <input type="text" id="pancard" placeholder="Pancard Number" maxlength="10" class="form-control " [(ngModel)]="pancard" (ngModelChange)="pancard = $event.toUpperCase()">
          <label for="pancard" >Pancard Number</label>
      </div>
      <div  class="form-floating mb-3 input-box ">
          <input type="text" id="aadhar" maxlength="16" placeholder="Aadhar Card Number" class="form-control" (keypress)="validate.numberOnly($event)" [(ngModel)]="aadhar_card_no">
          <label for="aadhar" >Aadhar Card Number</label>
      </div>


      
        <button type="button" class="btn btn-primary theme-button mt-5" (click)="sendotp()">Continue</button>

      </div>
    </div>
  </div>
</div>


<!-- otp Modal -->
<div class="modal fade" id="otp-screen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="row">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h3 class="otp-title">Enter OTP</h3>
          <p class="otp-text">OTP sent on <b>{{emailid}}. </b>
            <span class="link-text" (click)="EditNumber()">Edit Email?</span></p>
          <div class="col-2">
            <input type="number" class="form-control otp-field" maxlength="1" id="otp1" [(ngModel)]="otp1"
              (keyup)="keytab(2,$event)" (keypress)="validate.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="number" class="form-control otp-field" maxlength="1" id="otp2" [(ngModel)]="otp2"
              (keyup)="keytab(3,$event)" (keypress)="validate.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="number" class="form-control otp-field" maxlength="1" id="otp3" [(ngModel)]="otp3"
              (keyup)="keytab(4,$event)" (keypress)="validate.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="number" class="form-control otp-field" maxlength="1" id="otp4" [(ngModel)]="otp4"
              (keyup)="keytab(5,$event)" (keypress)="validate.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="number" class="form-control otp-field" maxlength="1" id="otp5" [(ngModel)]="otp5"
              (keyup)="keytab(6,$event)" (keypress)="validate.numberOnly($event)" />
          </div>
          <div class="col-2">
            <input type="number" class="form-control otp-field" maxlength="1" id="otp6" [(ngModel)]="otp6"
              (keypress)="validate.numberOnly($event)" (keyup)="verifyOtp()" />
          </div>
          <div class="col-12" *ngIf="resendbuttonText != 'Resend OTP'">
            <p class="otp-bottomtext">OTP expires in <br class="hidden-lg" />{{resendbuttonText}} s</p>
          </div>
          <div class="col-12" *ngIf="resendbuttonText == 'Resend OTP'">
            <p class="otp-bottomtext">Didn't recieve OTP? <br class="hidden-lg" /> <span class="link-text"
                (click)="ResendOTP()">Resend OTP</span></p>
          </div>
        </div>
        <div class="row pr-btn">
          <div class="col-12">
            <button type="button" (click)="ResetOTP()" data-bs-dismiss="modal" aria-label="Close" class="otp-cancel">
              Cancel</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
