<div class="container mgb-10per">
    <div class="row mt-4">
      <div class="col-lg-12">
        <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/FD-eligible']"><i
              class="fa fa-arrow-left i-icon"></i></span>Open FD
        </h4>
      </div>
      </div>
      <div class="row mt-4">
          <div class="col-lg-6">
              <div class="opnfds">
              <img src="assets/img/FD/Open fd (1).svg" alt="FD" style="width: 100%;">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="row mb-4">
                  <div class="col-lg-12 mb-4">
                          <div class="row">
                            <div class="col-7">
                              <p class="pt-2"><b>Investment Amount</b></p>
                            </div>
                            <div class="col-5 position-relative">
                              <input type="text" class="form-control ps-4" placeholder="0" />
                              <span class="rupee-symbol">₹</span>
                            </div>
                            <div class="col-12 mb-2">
                              <div class="custom-slider mb-4">
                                <ngx-slider [(value)]="ModeOfInvestment.monthly_amt" [options]="monthly_amt1"></ngx-slider>
                              </div>
                            </div>
                        </div>
                  </div>
                  <div class="col-lg-12 mb-4">
                    <div class="row">
                      <div class="col-7">
                        <p class="pt-2"><b>Select Tenure</b></p>
                      </div>
                      <div class="col-5 position-relative">
                        <input type="text" class="form-control ps-4" placeholder=" " value="5 Years" />
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-slider mb-4">
                          <ngx-slider [(value)]="ModeOfInvestment.monthly_amt" [options]="monthly_amt1"></ngx-slider>
                        </div>
                      </div>
                  
                    
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6">
                  <p class="pt-2"><b>Are you a senior citizen ?</b></p>
                  <span class="intrst">you will earn 8% p.a. interest.</span>
                  </div>
                  <div class="col-lg-6 mb-5">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    </div>
                  </div>
                  </div>

                </div>
                <div class="col-lg-12">
                  <div class="form-floating">
                    <select class="form-select" id="maturity" aria-label="Floating label select example">
                      <option selected>On Maturity</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <label for="maturity">Interest Payout</label>
                  </div>
                </div>
              </div>
              <a type="button" class="btn-primary theme-button"[routerLink]="['/FD-successful']">Next</a>
          </div>
      </div>
      </div>
