<div class="container">
    <div class="row mt-4 hidden-xs">
      <div class="col-lg-12">
        <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/prod']"><i
              class="fa fa-arrow-left i-icon"></i></span> Product Details</h4>
      </div>
    </div>

    <div class="row hidden-lg">
      <div class="col-12">
        <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/prod']"><i
              class="fa fa-arrow-left i-icon"></i></span><img src="assets/img/Bond/brand_logo@2x5.png" alt="icici" class="header-img"/>
            </h4>
      </div>
    </div>
    <div class="row hidden-lg mb-4">
      <div class="col-12">
        <h2>The South Indian Bank Limited</h2>

      </div>
      <div class="col-12">
        <div class="star-component">
          <ul class="rating-star">
            <li><i class="fa fa-star rated"></i></li>
            <li><i class="fa fa-star rated"></i></li>
            <li><i class="fa fa-star rated"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex">
          <span class="badge">Corporate Bond</span>
              <span class="badge">FAAA</span>
              <span class="badge">Moderate Risk</span>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="table-headerr">
     <div class="row">
       <div class="col-6">
        <p>Current YTM</p>
      </div>
       <div class="col-6 text-end">
        <p>13.4%</p>
      </div>
     </div>
     </div>
     <div class="row table-body">
      <div class="col-6 mb-3 mt-3">
        <p style="color: #465A65;">Bonds Details</p>
      </div>
      <div class="col-6 mb-3">
       
     </div>
     <div class="col-6 mb-3">
      <p>Face Value</p>
      <span>₹ 1,00,000</span>

    </div>
    <div class="col-6 mb-3 text-end">
      <p>Min Investment</p>
      <span>₹ 2,12,501.37</span>

    </div>
    <div class="col-6 mb-3">
      <p>Call Date</p>
      <span>24-Jan-2025</span>

    </div>
    <div class="col-6 mb-3 text-end">
      <p>Date of issue</p>
      <span>24-jan-2020</span>

    </div>
    </div>



      </div>
    </div>
    <div class="row">

      
          <div class="col-lg-8 hidden-xs">
            <div class="graph-header d-flex">
              <div class="d-flex">
                <img src="assets/img/Bond/brand_logo@2x5.png" alt="icici" class="header-img"/>
              </div>
              <div class="mt-4">
                <h2>The South Indian Bank Limited</h2>
                <div class="d-flex">
                  <div class="star-component">
                    <ul class="rating-star">
                      <li><i class="fa fa-star rated"></i></li>
                      <li><i class="fa fa-star rated"></i></li>
                      <li><i class="fa fa-star rated"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                  <span class="badge">Corporate Bond</span>
                  <span class="badge">FAAA</span>
                  <span class="badge">Moderate Risk</span>
                </div>
              </div>
            </div>
           <div class="table-header">
               <div class="row hidden-xs">
                   <div class="col-md-6">
                    <p>Current YTM</p>
                   </div>
                   <div class="col-md-6">
                       <p>13.4%</p>
    
                   </div>
               </div>
           </div>
           <div class="table-body mt-3">
               <div class="row">
                   <div class="col-lg-6 body-element-left">
                   <p style="color: black;">Bonds Details</p>
                   <p>Face Value</p>
                   <p>Min Investment</p>
                   <p>Call Date</p>
                  <p>Date of issue</p>
    
                   </div>
                   <div class="col-lg-6 mt-4">
                     <div class="body-element-right">
                    <p>₹ 1,00,000</p>
                    <p>₹ 2,12,501.37</p>
                    <p>24-Jan-2025</p>
                    <p>24-jan-2020</p>
                    </div>
                   </div>
               </div>
             
           </div>
           <hr>
    </div>


     
        <div class="col-lg-4 d-none d-lg-block d-md-block d-sm-block" id="sidebar-main">
            <div class="left-sidebar" id="sidebar">
              <div class="right-box">
                <h5>Calculator</h5>
                <ul class="nav nav-tabs" id="year-tabs" role="tablist">
                  <li class="nav-item" role="presentation" (click)="tax = '1'" >
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PreTax" type="button" role="tab"
                      aria-controls="monthly" aria-selected="true" [ngClass]="tax == '1'?'active':''" >Pre-Tax</button>
                  </li>
                  <li class="nav-item" role="presentation"(click)="tax = '2'">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#PostTax" type="button" role="tab"
                      aria-controls="otl" aria-selected="false" [ngClass]="tax == '2'?'active':''">Post-Tax</button>
                  </li>
                </ul>
      
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="PreTax" role="tabpanel" aria-labelledby="monthly-tab" >
                    <div class="row mt-3">
                      <div class="col-lg-7 col-7">
                        <p class="pt-2"><b>Investment Amount</b></p>
                      </div>
                      <div class="col-lg-5 col-5 position-relative">
                        <input type="text" class="form-control ps-4" placeholder="0" [(ngModel)]="monthly_amt"/>
                        <span class="rupee-symbol">₹</span>
                      </div>
                      <div class="col-lg-12 mb-2">
                        <div class="custom-slider mb-4">
                          <ngx-slider [(value)]="monthly_amt" [options]="monthly_amt1"></ngx-slider>
                        </div>
                      </div>

                      <div class="col-lg-12">
                          <div class="row">
                              <div class="col-lg-6">
                                  <p>Investment Period</p>

                              </div>
                              <div class="col-lg-6">
                               <p class="text-end">5yrs and 4 months</p>
                            </div>
                          </div>
                      </div>
                      <div class="col-lg-12 mb-4">
                        <div class="row">
                            <div class="col-lg-8 totalinvst">
                                <h5>Total Invesment</h5>
                                <span>with 13.4% returns per annum</span>

                            </div>
                            <div class="col-lg-4 totalinvst1">
                             <h4>₹ 3,10,075</h4>
                          </div>
                        </div>
                    </div>
                      <div class="col-lg-12 col-12 position-relative">
                        
                          <!-- <div class="form-floating mb-3 input-box">
                        <input type="date" class="form-control calendar-button">
                        </div> -->
                            <button type="button"  class="btn btn-primary sip-btn" [routerLink]="['/bond-eligibility']">
                              Invest Now </button>
                      </div>
                    </div>
                  </div>
      
                  <div class="tab-pane show fade" id="PostTax" role="tabpanel" aria-labelledby="otl-tab" >
                    <div class="row mt-3">
                      <div class="col-lg-7 col-7">
                        <p class="pt-2"><b>SIP Amount</b></p>
                      </div>
                      <div class="col-lg-5 col-5 position-relative">
                        <input type="text" class="form-control ps-4" [(ngModel)]="yearly_amt"/>
                        <span class="rupee-symbol">₹</span>
                      </div>
                      <div class="col-lg-12">
                        <div class="custom-slider mb-5">
                          <ngx-slider [(value)]="yearly_amt" [options]="yearly_amt1"></ngx-slider>
                        </div>
                        <p>Installment will be deducted on <span class="text-orange">{{ModeOfInvestment.DateForMonth}} th of every month.</span></p>
                      </div>
                
                      <div class="col-lg-12">
                        <h5>Select Amount</h5>
                      </div>
                      <div class="col-lg-4 col-4">
                        <p class="amt">+ Rs 5000</p>
                      </div>
                      <div class="col-lg-4 col-4">
                        <p class="amt">+ Rs 5000</p>
                      </div>
                      <div class="col-lg-4 col-4">
                        <p class="amt">+ Rs 5000</p>
                      </div>
      
                      <div class="col-lg-12">
                        <button type="button" 
                          class="btn btn-primary sip-btn w-100 ms-0"> Invest Now </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- <div class="mt-3 pd-tabs"> -->
  
          <!-- Nav tabs -->
          <!-- <ul class="nav nav-tabs" role="tablist">
  
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#menu1">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#menu2">Asset Allocation</a>
            </li>
          </ul> -->
  
          <!-- Tab panes -->
      
      
      </div>
  
  <!-- <div class="row">
      <div class="col-lg-8">
       <div class="table-header">
           <div class="row">
               <div class="col-md-6">
                <p>Current YTM</p>
               </div>
               <div class="col-md-6">
                   <p>13.4%</p>

               </div>
           </div>
       </div>
       <div class="table-body mt-3">
           <div class="row">
               <div class="col-md-6 body-element-left">
               <p style="color: black;">Bonds Details</p>
               <p>Face Value</p>
               <p>Min Investment</p>
               <p>Call Date</p>
              <p>Date of issue</p>

               </div>
               <div class="col-md-6 mt-4">
                 <div class="body-element-right">
                <p>₹ 1,00,000</p>
                <p>₹ 2,12,501.37</p>
                <p>24-Jan-2025</p>
                <p>24-jan-2020</p>
                </div>
               </div>
           </div>
         
       </div>
       <hr>
</div>

    </div>   -->
  

    <div class="row">
        <div class="col-lg-8 feature-division">
            <div class="feature">
                <h3>Highlights Features</h3>
                <div class="feature-body">
                    <div class="subsection-feature1 hidden-xs">
                        <div class="row">
                    <div class="col-2">
                      <div class="subsection-feature3-img">
                      <img src="assets/img/FD/High interest.svg" alt="Interest">
                      </div>

                    </div>
                    <div class="col-10">
                        <h5>High interest rates</h5>
                        <p>Higher return than liquid funds and savings account</p>
                    </div>
                    </div>
                    </div>

                    <div class="subsection-feature1 hidden-lg">
                      <div class="row">
                  <div class="col-3">
                    <div class="subsection-feature3-img">
                    <img src="assets/img/FD/High interest.svg" alt="Interest">
                    </div>

                  </div>
                  <div class="col-9">
                      <h5>High interest rates</h5>
                  </div>
                  <div class="col-12">
                    <p>Higher return than liquid funds and savings account</p>

                  </div>
                  </div>
                  </div>


                    <hr>

                    <div class="subsection-feature2 hidden-xs">
                        <div class="row">
                    <div class="col-2">
                      <div class="subsection-feature3-img">
                      <img src="assets/img/FD/Sound management.svg" alt="sound">
                      </div>

                    </div>
                    <div class="col-10">
                        <h5>Sound and experienced management</h5>
                        <p>One of the largest transport finance company in the country with Rs. 1.1 lakh crore assets under management</p>
                    </div>
                    </div>
                    </div>

                    <div class="subsection-feature2 hidden-lg">
                      <div class="row">
                  <div class="col-3">
                    <div class="subsection-feature3-img">
                      <img src="assets/img/FD/Sound management.svg" alt="sound">
                    </div>

                  </div>
                  <div class="col-9">
                    <h5>Sound and experienced management</h5>
                  </div>
                  <div class="col-12">
                    <p>One of the largest transport finance company in the country with Rs. 1.1 lakh crore assets under management</p>

                  </div>
                  </div>
                  </div>
                    <hr>


                    <div class="subsection-feature3 hidden-xs">
                        <div class="row">
                    <div class="col-2">
                      <div class="subsection-feature3-img">
                      <img src="assets/img/FD/Moderate stability and credibility.svg" alt="stability">
                      </div>

                    </div>
                    <div class="col-10">
                        <h5>Moderate stability and credibility</h5>
                        <p>Has credit rating as CRISIL FAAA/Negative. Higher returns compensate for the additional risk.</p>
                    </div>
                    </div>
                    </div>
                    <div class="subsection-feature3 hidden-lg">
                      <div class="row">
                  <div class="col-3">
                    <div class="subsection-feature3-img">
                      <img src="assets/img/FD/Moderate stability and credibility.svg" alt="stability">
                    </div>

                  </div>
                  <div class="col-9">
                    <h5>Moderate stability and credibility</h5>
                  </div>
                  <div class="col-12">
                    <p>Has credit rating as CRISIL FAAA/Negative. Higher returns compensate for the additional risk.</p>

                  </div>
                  </div>
                  </div>


                    <hr>

                </div>
            </div>
           
        </div>
    </div>

<div class="row hidden-lg">
    <div class="col-12" id="sidebar-main">
          <ul class="nav nav-tabs" id="year-tabs" role="tablist">
            <li class="nav-item" role="presentation" >
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#monthly" type="button" role="tab"
                aria-controls="monthly" aria-selected="true" >Pre-Tax</button>
            </li>
            <li class="nav-item" role="presentation" >
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#otl" type="button" role="tab"
                aria-controls="otl" aria-selected="false" disabled>Post-Tax</button>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab" >
              <div class="row mt-3">
                <div class="col-lg-7 col-6">
                  <p class="pt-2"><b>Investment Amount</b></p>
                </div>
                <div class="col-lg-5 col-5 position-relative">
                  <input type="text" class="form-control ps-4" placeholder="0" />
                  <span class="rupee-symbol">₹</span>
                </div>
                <div class="col-lg-12 mb-2">
                  <div class="custom-slider mb-4">
                    <ngx-slider [(value)]="ModeOfInvestment.monthly_amt" [options]="monthly_amt1"></ngx-slider>
                  </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <p>Investment Period</p>

                        </div>
                        <div class="col-lg-6 col-6">
                         <p class="text-end">5yrs and 4 months</p>
                      </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4">
                  <div class="row">
                      <div class="col-lg-8 col-8 totalinvst">
                          <h5>Total Invesment</h5>
                          <span>with 13.4% returns per annum</span>

                      </div>
                      <div class="col-lg-4 col-4 totalinvst1">
                       <h4>₹ 3,10,075</h4>
                    </div>
                  </div>
              </div>
              </div>
           </div>
         </div>
<hr>
          </div>
    

</div>


    <div class=" pt-4 finance owl-1">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <h5 class="text-grey">Similar FD's</h5>
        </div>
      </div>
      <div class="financial-slider trendprod ">
        <owl-carousel-o [options]="customOptions">
          <!-- <ng-template carouselSlide *ngFor="let funds of SimilarProducts">
            <div class="trending-product">
              <div class="bod-bot">
                <div class="row align-items-center">
                  <div class="col-lg-2 col-3 co-logo">
                    <img src="assets/img/icici-bank.png" class="img-fluid" alt="image">
                  </div>
                  <div class="col-lg-10 col-9">
                    <h5 class="trend-name trend-head " title="{{funds.name}}">{{funds.name}}</h5>
                    <p>3<i class="fa fa-star" aria-hidden="true"></i> {{funds.asset}}</p>
                  </div>
                </div>
                <div class="row values">
                  <div class="col-lg-4 col-4">
                    <h6>1 Year</h6>
                    <p>{{funds.returnFor1Year.toFixed(2)}}%</p>
                  </div>
                  <div class="col-lg-4 col-4">
                    <h6>3 Year</h6>
                    <p>{{funds.returnFor3Year.toFixed(2)}}%</p>
                  </div>
                  <div class="col-lg-4 col-4">
                    <h6>5 Year</h6>
                    <p>{{funds.returnFor5Year.toFixed(2)}}%</p>
                  </div>
                </div>
              </div>
              <div class="row l-values">
                <div class="col-lg-6 col-6">
                  <p class="cf">Compare Fund</p>
                </div>
                <div class="col-lg-6 col-6">
                  <button class="nav-link btn btn-primary invest-button">Invest</button>
                </div>
              </div>

            </div>
          </ng-template> -->
          <ng-template carouselSlide>
            <div class="trending-product">
              <div class="bod-bot">
              <div class="row align-items-center">
                <div class="col-lg-2 col-3 co-logo">
                  <img src="assets/img/icici-bank.png" class="img-fluid" alt="image">
                </div>
                <div class="col-lg-10 col-9">
                  <h5 class="trend-name trend-head">ICICI Prudential Technology</h5>
                  <p>3<i class="fa fa-star" aria-hidden="true"></i><span class="green-dot"></span> High Risk<span class="green-dot"></span> Equity</p>
                </div>
              </div>
              <div class="row values">
                <div class="col-lg-4 col-4">
                   <h6>1 Year</h6>
                   <p>0.35%</p>
                </div>
                <div class="col-lg-4 col-4">
                  <h6>3 Year</h6>
                   <p>25.2%</p>
                </div>
                <div class="col-lg-4 col-4">
                  <h6>5 Year</h6>
                   <p>20.1%</p>
                </div>
              </div>
            </div>
            <div class="row l-values">
              <div class="col-lg-6 col-6">
                 <p class="cf">Compare Fund</p>
              </div>
              <div class="col-lg-6 col-6">
                <button class="nav-link btn btn-primary theme-button">Invest</button>
              </div>
              
            </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
        <div class="trending-product">
          <div class="bod-bot">
          <div class="row align-items-center">
            <div class="col-lg-2 col-3 co-logo">
              <img src="assets/img/FD/Axis-Bank-Logo.png" class="img-fluid" alt="image">
            </div>
            <div class="col-lg-10 col-9">
              <h5 class="trend-name trend-head">Axis Bluechip Fund</h5>
              <p>3<i class="fa fa-star" aria-hidden="true"></i><span class="green-dot"></span> Moderate Risk<span class="green-dot"></span> Moderate Risk</p>
            </div>
          </div>
          <div class="row values">
            <div class="col-lg-4 col-4">
               <h6>1 Year</h6>
               <p>0.35%</p>
            </div>
            <div class="col-lg-4 col-4">
              <h6>3 Year</h6>
               <p>25.2%</p>
            </div>
            <div class="col-lg-4 col-4">
              <h6>5 Year</h6>
               <p>20.1%</p>
            </div>
          </div>
        </div>
        <div class="row l-values">
          <div class="col-lg-6 col-6">
             <p class="cf">Compare Fund</p>
          </div>
          <div class="col-lg-6 col-6">
            <button class="nav-link btn btn-primary theme-button">Invest</button>
          </div>
          
        </div>
        </div>
      </ng-template>
    
      <ng-template carouselSlide>
        <div class="trending-product">
          <div class="bod-bot">
          <div class="row align-items-center">
            <div class="col-lg-2 col-3 co-logo">
              <img src="assets/img/FD/Axis-Bank-Logo.png" class="img-fluid" alt="image">
            </div>
            <div class="col-lg-10 col-9">
              <h5 class="trend-name trend-head">Axis Bluechip Fund</h5>
              <p>3<i class="fa fa-star" aria-hidden="true"></i><span class="green-dot"></span> Moderate Risk<span class="green-dot"></span> Moderate Risk</p>
            </div>
          </div>
          <div class="row values">
            <div class="col-lg-4 col-4">
               <h6>1 Year</h6>
               <p>0.35%</p>
            </div>
            <div class="col-lg-4 col-4">
              <h6>3 Year</h6>
               <p>25.2%</p>
            </div>
            <div class="col-lg-4 col-4">
              <h6>5 Year</h6>
               <p>20.1%</p>
            </div>
          </div>
        </div>
        <div class="row l-values">
          <div class="col-lg-6 col-6">
             <p class="cf">Compare Fund</p>
          </div>
          <div class="col-lg-6 col-6">
            <button class="nav-link btn btn-primary theme-button">Invest</button>
          </div>
          
        </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="trending-product">
          <div class="bod-bot">
          <div class="row align-items-center">
            <div class="col-lg-2 col-3 co-logo">
              <img src="assets/img/FD/Axis-Bank-Logo.png" class="img-fluid" alt="image">
            </div>
            <div class="col-lg-10 col-9">
              <h5 class="trend-name trend-head">Axis Bluechip Fund</h5>
              <p>3<i class="fa fa-star" aria-hidden="true"></i><span class="green-dot"></span> Moderate Risk<span class="green-dot"></span> Moderate Risk</p>
            </div>
          </div>
          <div class="row values">
            <div class="col-lg-4 col-4">
               <h6>1 Year</h6>
               <p>0.35%</p>
            </div>
            <div class="col-lg-4 col-4">
              <h6>3 Year</h6>
               <p>25.2%</p>
            </div>
            <div class="col-lg-4 col-4">
              <h6>5 Year</h6>
               <p>20.1%</p>
            </div>
          </div>
        </div>
        <div class="row l-values">
          <div class="col-lg-6 col-6">
             <p class="cf">Compare Fund</p>
          </div>
          <div class="col-lg-6 col-6">
            <button class="nav-link btn btn-primary theme-button">Invest</button>
          </div>
          
        </div>
        </div>
      </ng-template>


        </owl-carousel-o>
      </div>

    </div>
            <!-- <ng-template carouselSlide>
          <div class="trending-product">
            <div class="bod-bot">
            <div class="row align-items-center">
              <div class="col-lg-2 col-3 co-logo">
                <img src="assets/img/axis_bank.png" class="img-fluid" alt="image">
              </div>
              <div class="col-lg-10 col-9">
                <h5 class="trend-name trend-head">Axis Bluechip Fund</h5>
                <p>3<i class="fa fa-star" aria-hidden="true"></i> High Risk Equity</p>
              </div>
            </div>
            <div class="row values">
              <div class="col-lg-4 col-4">
                 <h6>1 Year</h6>
                 <p>0.35%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>3 Year</h6>
                 <p>25.2%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>5 Year</h6>
                 <p>20.1%</p>
              </div>
            </div>
          </div>
          <div class="row l-values">
            <div class="col-lg-6 col-6">
               <p class="cf">Compare Fund</p>
            </div>
            <div class="col-lg-6 col-6">
              <button class="nav-link btn btn-primary theme-button">Invest</button>
            </div>
            
          </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="trending-product">
            <div class="bod-bot">
            <div class="row align-items-center">
              <div class="col-lg-2 col-3 co-logo">
                <img src="assets/img/icici-bank.png" class="img-fluid" alt="image">
              </div>
              <div class="col-lg-10 col-9">
                <h5 class="trend-name trend-head">ICICI Prudential Technology</h5>
                <p>3<i class="fa fa-star" aria-hidden="true"></i> High Risk Equity</p>
              </div>
            </div>
            <div class="row values">
              <div class="col-lg-4 col-4">
                 <h6>1 Year</h6>
                 <p>0.35%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>3 Year</h6>
                 <p>25.2%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>5 Year</h6>
                 <p>20.1%</p>
              </div>
            </div>
          </div>
          <div class="row l-values">
            <div class="col-lg-6 col-6">
               <p class="cf">Compare Fund</p>
            </div>
            <div class="col-lg-6 col-6">
              <button class="nav-link btn btn-primary theme-button">Invest</button>
            </div>
            
          </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="trending-product">
            <div class="bod-bot">
            <div class="row align-items-center">
              <div class="col-lg-2 col-3 co-logo">
                <img src="assets/img/axis_bank.png" class="img-fluid" alt="image">
              </div>
              <div class="col-lg-10 col-9">
                <h5 class="trend-name trend-head">Axis Bluechip Fund</h5>
                <p>3<i class="fa fa-star" aria-hidden="true"></i> High Risk Equity</p>
              </div>
            </div>
            <div class="row values">
              <div class="col-lg-4 col-4">
                 <h6>1 Year</h6>
                 <p>0.35%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>3 Year</h6>
                 <p>25.2%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>5 Year</h6>
                 <p>20.1%</p>
              </div>
            </div>
          </div>
          <div class="row l-values">
            <div class="col-lg-6 col-6">
               <p class="cf">Compare Fund</p>
            </div>
            <div class="col-lg-6 col-6">
              <button class="nav-link btn btn-primary theme-button">Invest</button>
            </div>
            
          </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="trending-product">
            <div class="bod-bot">
            <div class="row align-items-center">
              <div class="col-lg-2 col-3 co-logo">
                <img src="assets/img/icici-bank.png" class="img-fluid" alt="image">
              </div>
              <div class="col-lg-10 col-9">
                <h5 class="trend-name trend-head">ICICI Prudential Technology</h5>
                <p>3<i class="fa fa-star" aria-hidden="true"></i> High Risk Equity</p>
              </div>
            </div>
            <div class="row values">
              <div class="col-lg-4 col-4">
                 <h6>1 Year</h6>
                 <p>0.35%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>3 Year</h6>
                 <p>25.2%</p>
              </div>
              <div class="col-lg-4 col-4">
                <h6>5 Year</h6>
                 <p>20.1%</p>
              </div>
            </div>
          </div>
          <div class="row l-values">
            <div class="col-lg-6 col-6">
               <p class="cf">Compare Fund</p>
            </div>
            <div class="col-lg-6 col-6">
              <button class="nav-link btn btn-primary theme-button">Invest</button>
            </div>
            
          </div>
          </div>
        </ng-template> -->
  
        <div class="row d-block d-lg-none d-md-none d-sm-none">
          <div class="applybtn-mob">
      <div class="col-6 mt-3">
        <p>Return per Annum</p>
        <span>132.64%</span>
      </div>
            <div class="col-6">
              <button type="button" class="btn btn-primary invest-btn" data-bs-toggle="modal" data-bs-target="#invest-screen" [routerLink]="['/bond-eligibility']">
                Invest Now
              </button>
      
      
            </div>
          </div>
          <div class="col-12">
            <div class="headphone-right">
              <img src="assets/img/Bond/Group 3375.svg" class="dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" alt="headphone">
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><button class="dropdown-item" type="button">Co browsing</button></li>
                <li><button class="dropdown-item" type="button">WhatsApp</button></li>
                <li><button class="dropdown-item" type="button">Telegram</button></li>
              </ul>
            </div>
          </div>
        </div>
        




        </div>
  
      
