<div class="container mgb-10per">
  <div class="row mt-4">
    <div class="col-lg-12">
      <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/switch-redeem-funds']"><i
            class="fa fa-arrow-left i-icon"></i></span>SWP
      </h4>
    </div>
  </div>
  <div class="row  risk1 mt-5">

    <div class="col-lg-6 hidden-xs" id="sidebar-main">
      <div class="left-sidebar" id="sidebar">
        <img src="assets/img/tree.svg" alt="risk-profiling" class="w-75" />
      </div>
    </div>

    <div class="col-lg-6">

      <div class="row mt-5" *ngIf="SWPLoader">
        <div class="col-lg-12 d-flex justify-content-center">
          <h5><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Please Wait...</h5>
        </div>
      </div>
      <div class="row" *ngIf="!SWPLoader">

        <div class="mb-5" *ngIf="SWPCartItemList.length < 1" (click)="AddNewScheme()">
          <h5 class="mob-center">You have no orders in cart to SWP</h5>
          <p class="border">+ Add New Scheme</p>
        </div>


        <div *ngIf="SWPCartItemList.length > 0">
          <a class="btn-primary alldel-button" (click)="SWPCartItemList = []">Delete All</a>

          <!-- <img src="assets/img/delete_icon1.svg" alt="" class="delete"> -->
          <div class="accordion" id="accordionExample-desk">
            <div class="accordion-item mb-3" *ngFor="let SWPlist of SWPCartItemList; let i=index;">

              <div class="accord-delete">
                <h2 class="accordion-header" id="headingOne">

                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    attr.data-bs-target="#collapse{{i}}" aria-expanded="true" aria-controls="collapseOne">
                    <h6>Scheme {{i+1}}</h6>
                  </button>
                </h2>
                <img src="assets/img/delete_icon1.svg" alt="" class="delete-icon cursor-pointer"
                  (click)="DeleteSWPFromList(i)">
              </div>

              <div id="collapse{{i}}" class="accordion-collapse collapse "
                [ngClass]="SWPlist.isActive == 1 ? 'show' : ''" data-bs-parent="#accordionExample-desk">

                <div class=" row accordion-body">

                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect"
                      aria-label="Floating label select example" [(ngModel)]="SWPlist.instrumentId"
                      (change)="GetMyHoldingsProductOverview(i,SWPlist.instrumentId)">
                      <option value="">Select Scheme </option>
                      <option value="{{list.instrumentId}}" *ngFor="let list of MyHoldings">{{list.instrumentName}}
                      </option>
                    </select>
                    <label for="floatingSelect">Scheme</label>
                  </div>

                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect"
                      aria-label="Floating label select example">
                      <option value="0">Brother </option>
                      <option value="1">Mother</option>
                      <option value="2">Sister</option>
                    </select>
                    <label for="floatingSelect">Folio</label>
                  </div>

                  <div class="justify-content-between d-flex mt-2 mb-3">
                    <h6 class="mt-2">Place SWP for a Goal ?</h6>
                    <div class="toggle-none">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="consent{{i}}"
                          (click)="Checked('consent'+i,i)" id="consent{{i}}">
                      </div>
                    </div>
                  </div>

                  <div class="form-floating" *ngIf="SWPlist.redeemFromGoal == 1">
                    <select class="form-select mb-3 w-100" id="floatingSelect"
                      aria-label="Floating label select example" [(ngModel)]="SWPlist.goalId">
                      <option value="">Select Goal </option>
                      <option value="{{goals.goalId}}" *ngFor="let goals of MyGoals">{{goals.name}}</option>
                    </select>
                    <label for="floatingSelect">Select to Goal</label>
                  </div>

                  <h6>Set Frequency for withdrawal</h6>

                  <div class="mt-3 mb-4 d-flex justify-content-between">
                    <a class="btn-primary" [ngClass]="SWPlist.frequency == 4 ? 'theme-button' : 'unit-button'"
                      (click)="SWPlist.frequency = 4">Monthly</a>
                    <a class="btn-primary" [ngClass]="SWPlist.frequency == 5 ? 'theme-button' : 'unit-button'"
                      (click)="SWPlist.frequency = 5">Quarterly</a>
                  </div>



                  <div class="cover-left-div mb-3"
                    *ngIf="!validate.isNullEmptyUndefined(SWPlist.myHoldingCurrentValue) && !validate.isNullEmptyUndefined(SWPlist.myHoldingUnitsOwned)">
                    <div class="row">
                      <div class="col-lg-6 col-6 tex-center coverstext">
                        <p>Current Value</p>
                        <h5>₹ {{SWPlist.myHoldingCurrentValue}}</h5>
                      </div>
                      <div class="col-lg-6 col-6 tex-center coverstext">
                        <p>Units Owned</p>
                        <h5>{{SWPlist.myHoldingUnitsOwned}}</h5>
                      </div>
                    </div>
                  </div>

                  <h6>Sell your Fund by</h6>

                  <div class="mt-3 mb-4 d-flex justify-content-between">
                    <a class="btn-primary" [ngClass]="SWPlist.sellType == 'Amount' ? 'theme-button' : 'unit-button'"
                      (click)="SWPlist.sellType = 'Amount'">Amount</a>
                    <a class="btn-primary" [ngClass]="SWPlist.sellType == 'Unit' ? 'theme-button' : 'unit-button'"
                      (click)="SWPlist.sellType = 'Unit'">Unit</a>
                  </div>

                  <div class="form-floating mt-2" *ngIf="SWPlist.sellType == 'Amount'">
                    <input type="text" id="Amount" placeholder="Enter Amount" class="form-control"
                      (keypress)="validate.numberOnly($event)" [(ngModel)]="SWPlist.totalAmount"
                      (keyup)="GetAmountAndUnit(i,'Amount')">
                    <label for="Amount">Enter Amount</label>
                    <span class="units" *ngIf="!validate.isNullEmptyUndefined(SWPlist.quantity)">{{SWPlist.quantity}}
                      Units</span>
                  </div>

                  <div class="form-floating mt-2" *ngIf="SWPlist.sellType == 'Unit'">
                    <input type="text" id="Units" placeholder="Enter Units" class="form-control"
                      (keypress)="validate.DesimalOnly($event,SWPlist.quantity)" [(ngModel)]="SWPlist.quantity"
                      (keyup)="GetAmountAndUnit(i,'Unit')">
                    <label for="Units">Enter Units</label>
                    <span class="units" *ngIf="!validate.isNullEmptyUndefined(SWPlist.totalAmount)">₹
                      {{SWPlist.totalAmount}}</span>
                  </div>

                  <div class="justify-content-between d-flex mt-2 font-units">
                    <span class="cursor-pointer" *ngIf="SWPlist.quantity < SWPlist.myHoldingUnitsOwned"
                      (click)="SWPlist.quantity = SWPlist.myHoldingUnitsOwned; GetAmountAndUnit(i,'Unit')">+ Add
                      all
                      units</span>
                    <p>{{SWPlist.remainingUnits}}/{{SWPlist.myHoldingUnitsOwned}} units remaining</p>
                  </div>

                  <div class="form-floating mb-3 input-box ">
                    <input type="date" id="startDateForSip" placeholder="Start Date for SIP" class="form-control"
                      [(ngModel)]="SWPlist.startDateForSip" [min]="maxStartdate"
                      (change)="GetEndDate(i);GetInstallmentStatement(i);">
                    <!-- [max]="SWPlist.startDate" -->
                    <label for="startDateForSip">Start Date for SIP</label>
                  </div>

                  <div class="form-floating mb-3 input-box ">
                    <input type="date" id="endDateForSip" placeholder="End Date for SIP" class="form-control"
                      [(ngModel)]="SWPlist.endDateForSip" [min]="SWPlist.endDate" (change)="GetInstallmentStatement(i)">
                    <label for="endDateForSip">End Date for SIP</label>
                  </div>

                  <div style="font-size: 17px;" class="mb-2"
                    *ngIf="!validate.isNullEmptyUndefined(SWPlist.startDateForSip) && !validate.isNullEmptyUndefined(SWPlist.endDateForSip)">
                    <p>Installment will be deducted on <span class="month"> {{SWPlist.InstallmentStatement}}</span>
                    </p>
                  </div>

                  <div class="hidden-xs">
                    <p>Total Amount <span class="rupee">Rs.
                        {{validate.indianRupeeFormat(SWPlist.totalAmount)}}</span></p>
                  </div>

                </div>
              </div>
            </div>

            <div>
              <h5 class="instrument"> <span (click)="AddNewScheme()">+ Add New Scheme</span></h5>
            </div>

            <div class="redeem mt-5 d-none d-lg-block d-md-block d-sm-block">
              <a class="btn-primary theme-button" (click)="SWPProceed()">Proceed</a>
            </div>

          </div>
        </div>



      </div>

    </div>
  </div>
</div>