<div class="container mgb-10per">
  <div class="row mt-4">
    <div class="col-lg-12">
      <h4 class="breadcrumb-title"><span class="me-3 cursor-pointer" [routerLink]="['/switch-redeem-funds']"><i
            class="fa fa-arrow-left i-icon"></i></span>Redeem Funds
      </h4>
    </div>
  </div>
  <div class="row  risk1 mt-5">
      
      <div class="col-lg-6 col-12" id="sidebar-main">
        <div class="left-sidebar" id="sidebar">
        <img *ngIf="Steps != 2" src="assets/img/redeem-fund.svg" alt="risk-profiling" class="w-75 r-img"/>
        <img *ngIf="Steps==2" src="assets/img/tree.svg" alt="risk-profiling" class="w-75  hidden-xs"/>
        </div>
      </div>
      
      <div class="col-lg-6">
        <div class="mb-5" *ngIf="Steps==1;" (click)=" NextStep()">
          <h5 class="mob-center">You have no orders in cart to redeem</h5>
          <p class="border">+ Add New Instrument</p>
          <p class="d-none d-lg-block d-md-block d-sm-block">Total Amount <span class="rupee">Rs. 0</span></p>
          <a class="btn-primary redeem-button d-none d-lg-block d-md-block d-sm-block">Redeem Now</a>
        </div>

        <div *ngIf="Steps==2;">
          <!-- <img src="assets/img/delete_icon1.svg" alt="" class="delete"> -->

          <div class="accordion" id="accordionExample-desk">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h6>Instrument 1</h6>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class=" row accordion-body">
                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect" aria-label="Floating label select example">
                      <option value="0">Brother </option>
                      <option value="1">Mother</option>
                      <option value="2">Sister</option>
                    </select>
                    <label for="floatingSelect">Aditya Birla Sun Life Mutual Fund</label>
                  </div>
                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect" aria-label="Floating label select example">
                      <option value="0">Brother </option>
                      <option value="1">Mother</option>
                      <option value="2">Sister</option>
                    </select>
                    <label for="floatingSelect">Folio</label>
                  </div>
                  <div class="justify-content-between d-flex mt-2 mb-3">
                    <h6 class="mt-2">Redeem from Goal?</h6>
                    <div class="toggle-none">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" >
                    </div>
                  </div>

                  </div>
                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect" aria-label="Floating label select example">
                      <option value="0">Brother </option>
                      <option value="1">Mother</option>
                      <option value="2">Sister</option>
                    </select>
                    <label for="floatingSelect">Select Goal</label>
                  </div>

                  <div class="cover-left-div mb-4">
                    <div class="row">
                    <div class="col-lg-6 col-6 tex-center coverstext">
                        <p>Current Value</p>
                        <h5>₹ 10,000</h5>
                    </div>
                    <div class="col-lg-6 col-6 tex-center coverstext">
                        <p>Units Owned</p>
                        <h5>100</h5>
                    </div>          
                    </div>
                  </div>

                  
                  <h6 >Sell your Fund by</h6>
                  
                  <div class="mt-3 mb-4 d-flex justify-content-between">
                    <a class="btn-primary theme-button">Amount</a>
                    <a class="btn-primary unit-button">Unit</a>
                  </div>
                  
                  <div class="form-floating mt-2">
                    <input type="text" id="first_name" placeholder="Full Name" class="form-control ">
                    <label for="first_name">Enter Amount</label>
                    <span class="units">5 Units</span>
                  </div> 

                  <div class="justify-content-between d-flex mt-2 font-units">
                    <span>+ Add all units</span>
                    <p>95/100 units remaining</p>
                  </div>

                  <div>
                    <h5 class="instrument" (click)="ShowAccordion() ;  scrolltotop()">+ Add New Instrument</h5>
                  </div>
                  <div class="hidden-xs">
                    <p>Total Amount <span class="rupee">Rs. 1,500</span></p>
                  
                    <div class="redeem mt-2">
                      <a class="btn-primary theme-button" (click)="RedeemNow()" >Redeem Now</a>
                    </div>
                  </div>
                 
                  
                </div>
              </div>
            </div>

            <div *ngIf="DisplayAccordion">

            <hr>

            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h6>Instrument 2</h6>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class=" row accordion-body">
                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect" aria-label="Floating label select example">
                      <option value="0">Brother </option>
                      <option value="1">Mother</option>
                      <option value="2">Sister</option>
                    </select>
                    <label for="floatingSelect">Aditya Birla Sun Life Mutual Fund</label>
                  </div>
                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect" aria-label="Floating label select example">
                      <option value="0">Brother </option>
                      <option value="1">Mother</option>
                      <option value="2">Sister</option>
                    </select>
                    <label for="floatingSelect">Folio</label>
                  </div>
                  <div class="justify-content-between d-flex mt-2 mb-3">
                    <h6 class="mt-2">Redeem from Goal?</h6>
                    <div class="toggle-none">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" >
                    </div>
                  </div>

                  </div>
                  <div class="form-floating">
                    <select class="form-select mb-3 w-100" id="floatingSelect" aria-label="Floating label select example">
                      <option value="0">Brother </option>
                      <option value="1">Mother</option>
                      <option value="2">Sister</option>
                    </select>
                    <label for="floatingSelect">Select Goal</label>
                  </div>

                  <div class="cover-left-div mb-3">
                    <div class="row">
                    <div class="col-lg-6 col-6 tex-center coverstext">
                        <p>Current Value</p>
                        <h5>₹ 10,000</h5>
                    </div>
                    <div class="col-lg-6 col-6 tex-center coverstext">
                        <p>Units Owned</p>
                        <h5>100</h5>
                    </div>          
                    </div>
                  </div>

                  
                  <h6>Sell your Fund by</h6>
                  
                  <div class="mt-3 mb-4 d-flex justify-content-between">
                    <a class="btn-primary theme-button">Amount</a>
                    <a class="btn-primary unit-button">Unit</a>
                  </div>
                  
                  <div class="form-floating mt-2">
                    <input type="text" id="first_name" placeholder="Full Name" class="form-control ">
                    <label for="first_name">Enter Amount</label>
                    <span class="units">5 Units</span>
                  </div> 

                  <div class="justify-content-between d-flex mt-2 font-units">
                    <span>+ Add all units</span>
                    <p>95/100 units remaining</p>
                  </div>

                  <div>
                    <h5 class="instrument">+ Add New Instrument</h5>
                  </div>
                  <div class="hidden-xs">
                    <p>Total Amount <span class="rupee">Rs.0</span></p>
                  
                    <div class="redeem mt-2">
                      <a class="btn-primary theme-button"  [routerLink]="['/order-placed']">Redeem Now</a>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            </div>
           
          </div>
        </div>
         
      </div>


<!--mobile btn-->

<div class="right-box-mob d-block d-lg-none d-md-none d-sm-none">
<div class="row">
  <div class="applybtn-mob">
  <div class="col-md-6 col-6">
      <p>Total Amount</p>
      <h5>₹ 12,287</h5>
  </div>
  <div class="col-md-6 col-6">
      <button type="button" class="btn btn-primary proceed-btn" data-bs-display="static" 
      aria-expanded="false" href="javascript:void(0)" [routerLink]="['/order-placed']"> Redeem Now
    </button>  
  </div>
</div> 
</div> 

</div>


  </div>    
</div>    

